
ipython               
joblib                
matplotlib            
numpy                 
pandas                
Pillow                
pip                   
plotly               
prophet             
python-binance
rel 
scikit-learn 
scipy                
seaborn              
statsmodels         
streamlit        
streamlit-option-menu 
psycopg2-binary 
streamlit-lottie
